<p>Hi,</p>
<p>Below are the image sets we expect to see this week (from <strong>{{date.from}}</strong> to
    <strong>{{date.to}}</strong>).</p>
<ul>
    {{#each imageSets}}
        <li><strong>{{this.username}}</strong>: {{this.numberOfImages}}</li>
    {{/each}}
</ul>
<p>The expected total is: {{total}}. <strong>Note</strong>: this may increase as these are not final numbers.</p>
<p>Thanks,</p>
<p>The Pixy Team</p>